.ad {
  display: grid;
  grid-template-areas: "images info" "images info" "title title" "description description";
  grid-gap: 1rem;
  margin: 2rem auto;

  &-title {
    margin: 1rem 0;
    word-break: break-all;
    grid-area: title;
  }

  &-images {
    grid-area: images;
    position: relative;

    &__heart {
      position: absolute;
      z-index: 6;
      right: 1rem;
      top: 1rem;
      color: $tertiary-color;
      font-size: 3rem;
      cursor: pointer;
    }
  }

  &-price {
    margin-bottom: 1rem;
  }

  &-contact {
    &__phone {
      color: $secondary-color;
    }
  }
  &-info {
    grid-area: info;
  }

  &-contact,
  &-price {
    border: 1px solid #ece9e9;
    padding: 1.5rem;

    p {
      font-weight: 600;
    }
  }

  &-price {
    h3 {
      text-align: center;
      margin-bottom: 1rem;
    }
    &__prices {
      display: flex;
      margin: 0 auto;
      justify-content: space-around;

      p {
        display: flex;
        flex-direction: column;
        text-align: center;
      }
      &__cost {
        color: $primary-color;
        font-size: 1.3rem;
        font-weight: bold;
      }
    }
  }

  &-description {
    grid-area: description;
    border: 1px solid #ece9e9;
    padding: 1rem;

    h3 {
      margin-bottom: 1rem;
    }

    p {
      word-break: break-all;
      white-space: pre-wrap;
      text-align: justify;
    }
  }

  &-path {
    margin-top: 1rem;
    &__link {
      margin: 0 0.5rem;
      font-weight: 600;
      color: $dark-color;

      &:hover {
        color: $tertiary-color;
      }
    }
  }

  &-favorite {
    display: block;
    color: $primary-color;
    border-color: $primary-color;
    margin: 1rem auto;
    display: flex;
    align-items: center;

    &:hover {
      color: lighten($primary-color, 25%);
      border-color: lighten($primary-color, 25%);
    }

    &__icon {
      margin-right: 0.5rem;
      font-size: 1rem;
    }
  }

  &-delete {
    margin-top: 1rem;
    right: 1rem;
    top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: $tertiary-color;
    color: $tertiary-color;
    width: 100%;

    &__icon {
      font-size: 1.5rem;
      margin-left: 10px;
    }
    &:hover {
      color: #fff;
      background: $tertiary-color;
    }
  }

  &-edit {
    margin-top: 1rem;
    right: 1rem;
    top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: $primary-color;
    color: $primary-color;
    &:hover {
      color: $secondary-color;
      border-color: $secondary-color;
    }
  }
}

@media (max-width: 1000px) {
  .ad {
    grid-template-areas: "images" "title" "description" "info";
    margin: 1.5rem 0;

    &-price {
      &__card {
        width: 100%;
      }
    }
  }
}

@media (max-width: 600px) {
  .ad {
    margin: 1rem 0;

    h1 {
      font-size: 24px;
      margin: 0;
    }

    &-price,
    &-contact {
      padding: 1rem;

      h3 {
        font-size: 18px;
      }

      p {
        font-size: 14px;
      }
    }

    &-description {
      h3 {
        margin-bottom: 0.5rem;
        font-size: 18px;
      }
      p {
        font-size: 15px;
      }
    }

    &-path {
      &__link {
        font-size: 12px;
        margin: 0 0.2rem;

        &:hover {
          color: $tertiary-color;
        }
      }
    }

    &-images {
      &__heart {
        font-size: 2rem;
      }
    }

    &-price {
      &__prices {
        &__cost {
          font-size: 1rem;
          font-weight: bold;
        }
      }
    }
  }
  .image-gallery-thumbnails-wrapper {
    display: none;
  }
}

.image-gallery-thumbnail.active {
  border-color: $secondary-color;
}

.image-gallery-left-nav,
.image-gallery-right-nav {
  font-size: 2rem;
}
