.ads-filters {
  padding: 1rem;
  margin-bottom: 1rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 1px 0px,
    rgba(0, 0, 0, 0.05) 0px 2px 4px 0px, rgba(0, 0, 0, 0.05) 0px 0px 8px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 1px 0px,
    rgba(0, 0, 0, 0.05) 0px 2px 4px 0px, rgba(0, 0, 0, 0.05) 0px 0px 8px 0px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 1px 0px,
    rgba(0, 0, 0, 0.05) 0px 2px 4px 0px, rgba(0, 0, 0, 0.05) 0px 0px 8px 0px;
  background: lighten($primary-color, 49%);

  h3 {
    color: $primary-color;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &__input {
      height: 40px;
      display: block;
      font-size: 16px;
      padding: 10px;
      border: 1px solid $medium-color;
      border-radius: 4px;
      outline: none;
      flex-basis: 30%;
      margin: 0.5rem;

      &:focus {
        border-color: $primary-color;
      }
    }
  }

  &__mobile {
    display: none;
    padding: 1rem;

    &--open {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }

    &__toggle {
      display: inline-block;
      color: $secondary-color;
      font-weight: 600;
    }
  }
}

@media (max-width: 800px) {
  .ads-filters {
    padding: 0;

    h3 {
      display: none;
    }

    &__form {
      display: none;
      flex-direction: column;

      &--open {
        display: flex;
        flex-direction: column;
      }

      &__input {
        margin: 0;
        margin-bottom: 1rem;
        flex: 1;
        height: 38px;
        font-size: 13px;
      }
    }

    &__mobile {
      display: flex;
      justify-content: flex-end;
      &__toggle {
        font-size: 14px;
      }
    }
  }
}
