.avatar {
  width: 49px;
  height: 49px;
  border: 3px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}

@media (max-width: 1100px) {
  .avatar {
    height: 36px;
    width: 37px;
    // display: none;
  }
}
