.category-card {
  position: relative;
  overflow: hidden;
  width: 170px;
  height: 250px;
  color: #fff;
  display: inline-block;
  border: 3px solid #fff;
  border-radius: 4px;

  &::after {
    content: "";
    position: absolute;
    display: block;
    background: $dark-color;
    opacity: 0.3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &:hover &-image {
    transform: scale(1.07);
  }

  &-image {
    height: 100%;
    width: 300px;
    display: block;
    transition: transform 0.25s ease-in-out;
  }

  &-name {
    position: absolute;
    z-index: 10;
    padding: 1rem;
    bottom: 0;
    font-weight: 600;
  }
}

@media (max-width: 1250px) {
  .category-card {
    width: 140px;
    height: 220px;
  }
}

@media (max-width: 995px) {
  .category-card {
    width: 120px;
    height: 200px;
  }
}

@media (max-width: 760px) {
  .category-card {
    width: 100px;
    height: 180px;

    &-name {
      font-size: 14px;
      padding: 0.5rem;
    }
  }
}

@media (max-width: 630px) {
  .category-card {
    width: 110px;
    height: 150px;

    &-name {
      font-size: 13px;
      padding: 0.3rem;
    }
  }
}

@media (max-width: 470px) {
  .category-card {
    width: 90px;
  }
}

// @media (max-width: 1000px) {
//   .category-card {
//     width: 140px;
//     height: 220px;
//   }
// }

// @media (max-width: 700px) {
//   .category-card {
//     width: 120px;
//     height: 200px;

//     &-name {
//       font-size: 14px;
//       padding: 0.5rem;
//     }
//   }
// }

// @media (max-width: 550px) {
//   .category-card {
//     width: 110px;
//     height: 150px;

//     &-name {
//       font-size: 13px;
//     }
//   }
// }

// @media (max-width: 380px) {
//   .category-card {
//     width: 140px;
//   }
// }
