.category-image-preview {
  width: 300px;
  margin: 2rem auto;
  position: relative;

  &-close {
    position: absolute;
    color: $light-color;
    font-size: 2rem;
    right: 0;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: red;
    }
  }
}
