.create-ad {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;

  &-title {
    .image-preview {
      position: relative;
      transition: all 0.3s ease-in-out;

      &::after {
        content: "";
        position: absolute;
        display: none;
        width: 100%;
        height: 100%;
        opacity: 0.9;
        top: 0;
        left: 0;
        background: #000;
        opacity: 0.3;
      }

      &:hover .image-preview-close {
        display: inline-block;
      }

      &:hover::after {
        display: block;
      }

      img {
        height: 100%;
        width: 100%;
      }
      &-close {
        position: absolute;
        height: 40%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -40%);
        color: #fff;
        font-size: 2rem;
        cursor: pointer;
        z-index: 30;
        display: none;

        &-icon:hover {
          color: $tertiary-color;
        }

        p {
          margin: 0;
        }
      }
    }
  }

  &-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    div {
      width: 250px;
      height: 180px;
    }
    p {
      margin-top: 1rem;
      font-size: 14px;
    }
  }

  &-buttons {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
}

@media (max-width: 1200px) {
  .create-ad {
    grid-template-columns: repeat(1, 1fr);

    &-images {
      div {
        margin: 0 auto;
      }
    }
  }
}

@media (max-width: 800px) {
  .create-ad {
    &-images {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      text-align: center;
      div {
        width: 210px;
        height: 140px;
      }
    }
  }
}

@media (max-width: 670px) {
  .create-ad {
    &-images {
      grid-template-columns: repeat(1, 1fr);

      div {
        margin: 0 auto;
        width: 250px;
        height: 180px;
      }
    }
  }
}
