.create-ad {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;

  &-title {
    .image-preview {
      position: relative;
      transition: all 0.3s ease-in-out;

      &::after {
        content: "";
        position: absolute;
        display: none;
        width: 100%;
        height: 100%;
        opacity: 0.9;
        top: 0;
        left: 0;
        background: #000;
        opacity: 0.3;
      }

      &:hover .image-preview-close {
        display: inline-block;
      }

      &:hover::after {
        display: block;
      }

      img {
        height: 100%;
        width: 100%;
      }
      &-close {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -20%);
        color: #fff;
        font-size: 2rem;
        cursor: pointer;
        z-index: 30;
        display: none;

        &-icon:hover {
          color: $tertiary-color;
        }

        p {
          margin: 0;
        }
      }
    }
  }

  &-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    div {
      width: 200px;
      height: 200px;
    }
    p {
      margin-top: 1rem;
      font-size: 14px;
    }
  }

  &-buttons {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
}
