.dropdown {
  position: absolute;
  top: 5rem;
  background: #fff;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  width: 15rem;
  transition: all 0.3s ease-in-out;

  &-user {
    right: 6rem;
  }

  &-help {
    right: 1rem;
  }

  &-open {
    opacity: 1;
    transform: translateX(0);
  }

  &-closed {
    opacity: 0;
    transform: translateX(200%);
    max-height: 0;
  }

  &__list-item {
    cursor: pointer;

    &-link {
      display: block;
      height: 100%;
      padding: 1rem;
      color: $dark-color;

      &:hover {
        background: lighten($secondary-color, 30%);
        color: $primary-color;
      }
    }
  }
}
