.home-categories {
  padding: 3rem 0;
  &__title {
    margin-bottom: 2rem;
    text-align: center;
  }
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

@media (max-width: 1200px) {
  .home-categories {
    &__list {
      grid-template-columns: repeat(5, 1fr);
    }
  }
}

@media (max-width: 800px) {
  .home-categories {
    padding: 2rem 0;
    &__title {
      margin-bottom: 1rem;
    }

    &__list {
      flex-wrap: nowrap;
      overflow-x: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}

@media (max-width: 630px) {
  .home-categories {
    &__title {
      font-size: 1.5rem;
    }
  }
}

@media (max-width: 450px) {
  .home-categories {
    &__title {
      font-size: 1.2rem;
    }
  }
}
