.home-search {
  height: 720px;
  background-image: url("../images/home-image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: -80px;
  position: relative;

  &-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 1.5rem;
  }

  &-title {
    font-size: 3.5rem;
    color: #fff;
  }

  &-form {
    display: grid;
    grid-template-columns: 4fr 2fr 2fr 2fr 1fr;

    .btn-primary {
      border-radius: 0 6px 6px 0;
    }
  }

  &-input {
    height: 60px;
    font-size: 16px;
    padding: 10px;
    border: none;
    outline: none;

    &:not(:last-child) {
      border-right: 1px solid $medium-color;
    }

    &:first-child {
      width: 100%;
      border-right: 1px solid $medium-color;
      border-radius: 6px 0 0 6px;
      padding-left: 2.5rem;
    }

    &::-webkit-input-placeholder {
      color: $medium-color;
      font-weight: bold;
    }
    &::-moz-placeholder {
      color: $medium-color;
      font-weight: bold;
    }
    &:-ms-input-placeholder {
      color: $medium-color;
      font-weight: bold;
    }
    &:-moz-placeholder {
      color: $medium-color;
      font-weight: bold;
    }
  }

  &-container {
    position: relative;

    &-icon {
      position: absolute;
      top: 17px;
      left: 10px;
      font-size: 1.5rem;
    }
  }

  &-post {
    display: flex;
    align-items: center;

    p {
      color: #fff;
      font-weight: 600;
      margin-right: 1rem;
    }
  }

  &-button {
    padding: 1.2rem 1.5rem;
    text-align: center;
  }
}

@media (max-width: 1400px) {
  .home-search {
    &-form {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 0.5rem;
    }

    &-title {
      font-size: 2.5rem;
    }

    &-input,
    &-input:first-child,
    .home-search-form .btn-primary {
      border-radius: 6px;
    }
  }
}

@media (max-width: 800px) {
  .home-search {
    &-title {
      font-size: 2rem;
    }
    &-post {
      p {
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 500px) {
  .home-search {
    &-center {
      width: 90%;
    }
    &-input {
      height: 50px;
      font-size: 14px;
    }
  }
}
