.login-form {
  display: flex;
  flex-direction: column;
}

.admin-login {
  margin: 5rem auto;
  display: grid;
  padding: 2rem;
  max-width: 35rem;
  border: 1px solid $light-color;
  border-radius: 4px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}
