.mobile-sidebar {
  background: #fff;
  position: fixed;
  top: 0;
  z-index: 150;
  height: 100%;
  -webkit-box-shadow: 4px -1px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 4px -1px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 4px -1px 5px 0px rgba(0, 0, 0, 0.2);
  transform: translateX(-120%);
  width: 40%;
  display: none;
  overflow-y: scroll;
  transition: all 0.3s ease-in-out;

  &__open {
    transform: translateX(0);
  }

  ul {
    li {
      .mobile-sidebar__link {
        display: block;
        height: 100%;
        padding: 1rem 2rem;
        color: $secondary-color;

        &-category {
          display: flex;
          justify-content: space-between;

          a {
            color: $secondary-color;
          }

          &-plus {
            padding: 0 8px;
            margin-right: 5px;
            border: 1px solid $medium-color;
            border-radius: 50%;
            color: $secondary-color;
          }
        }
      }
    }
  }

  &__back {
    margin: 1rem 2rem;

    &-icon {
      margin-right: 0.5rem;
    }
  }
}

@media (max-width: 1100px) {
  .mobile-sidebar {
    display: initial;
  }
}

@media (max-width: 850px) {
  .mobile-sidebar {
    width: 60%;

    ul {
      li {
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 700px) {
  .mobile-sidebar {
    width: 60%;
  }
}

@media (max-width: 500px) {
  .mobile-sidebar {
    width: 80%;
  }
}
