.ReactModalPortal > div {
  opacity: 0;
  z-index: 5000;
  overflow-y: auto;
}

.ReactModalPortal .ReactModal__Overlay {
  display: flex;
  justify-content: center;
  transition: opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
  margin-top: 0;
  padding: 0;
  background-color: rgba($color: #000000, $alpha: 0.5) !important;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content {
  outline: none;
}

.modal {
  &-content {
    background: #fff;
    border-radius: 4px;
    max-width: 30rem;
    margin: 2rem 0;

    &__header {
      background: $secondary-color;
      position: relative;
      padding: 1rem 2rem;
    }

    &__title {
      margin-bottom: 1rem;
      color: darken($primary-color, 15%);
    }

    &__description {
      font-weight: 600;
      font-weight: 600;
      margin-bottom: 10px;
      text-align: justify;
    }

    &__close {
      font-size: 2rem;
      cursor: pointer;
      position: absolute;
      top: 1rem;
      right: 1rem;
      color: #fff;

      &:hover {
        color: $fourth-color;
      }
    }

    &__form-container {
      padding: 0 2rem;
    }
  }
  &-change {
    padding: 1rem 2rem;
    background: $tertiary-color;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (max-width: 600px) {
  .modal {
    &-content {
      max-width: 21rem;

      &__header {
        padding: 0.5rem 1rem;
      }

      &__title {
        font-size: 24px;
        margin-bottom: 0.5rem;
      }

      &__description {
        font-size: 13px;
      }

      &__close {
        font-size: 1.5rem;
        top: 0.5rem;
        right: 0.5rem;
      }

      &__form-container {
        padding: 0 1rem;
      }
    }
    &-change {
      padding: 0.5rem;
      flex-direction: column;

      p {
        margin-bottom: 0.3rem;
      }
    }

    .auth-form {
      margin: 0.5rem 0;

      .input-container {
        .input-label {
          font-size: 13px;
        }

        .form-input {
          height: 38px;
        }

        .input-error {
          font-size: 13px;
        }
      }
    }
  }
}

@media (max-width: 320px) {
  .modal {
    &-content {
      max-width: 19rem;
      &__title {
        font-size: 20px;
        margin-bottom: 0rem;
      }

      &__description {
        font-size: 12px;
      }

      &__close {
        font-size: 1.5rem;
        top: 0.2rem;
        right: 0.2rem;
      }

      &__form-container {
        padding: 0 1rem;
      }
    }
    &-change {
      p {
        font-size: 13px;
      }

      .btn-secondary {
        padding: 0.5rem;
        font-size: 13px;
      }
    }
    .auth-form {
      .input-container {
        .input-label {
          font-size: 12px;
        }
      }
      .btn-primary {
        padding: 0.5rem;
        font-size: 13px;
      }
    }
  }
}

@media (max-height: 800px) {
  .modal-content {
    margin: 1rem 0;
  }
}

@media (max-height: 700px) {
  .modal-content {
    margin: 0.5rem 0;
  }
}
