.pagination {
  text-align: center;
  padding: 1rem;

  &__number {
    padding: 0.5rem;
    color: $medium-color;
    margin: 0.5rem;
    border: 2px solid $medium-color;
    display: inline-block;
    width: 3rem;
    border-radius: 50%;

    &-active {
      color: $primary-color;
      border-color: $primary-color;
    }

    &:hover {
      color: $primary-color;
      border-color: $primary-color;
    }
  }
}
