.sidebar {
  background: #fff;
  position: fixed;
  top: 0;
  z-index: 150;
  min-height: 100vh;
  -webkit-box-shadow: 4px -1px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 4px -1px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 4px -1px 5px 0px rgba(0, 0, 0, 0.2);
  transform: translateX(-120%);
  width: 15%;

  &__open {
    transition: all 0.3s ease-in-out;
    transform: translateX(0);
  }

  &__list {
    &-item {
      font-size: 16px;
      display: block;
      height: 100%;
      padding: 1rem;
      color: $primary-color;
      font-weight: 600;
      text-align: justify;

      &:hover {
        background: $light-color;
      }
    }
  }
}

@media (max-width: 1550px) {
  .sidebar {
    width: 17%;
  }
}

@media (max-width: 1400px) {
  .sidebar {
    width: 20%;
  }
}

@media (max-width: 1200px) {
  .sidebar {
    width: 22%;
  }
}

@media (max-width: 1100px) {
  .sidebar {
    display: none;
  }
}
