.subcategories-card {
  position: absolute;
  background: #fff;
  top: 0;
  left: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  min-height: 100vh;
  -webkit-box-shadow: 4px -1px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 4px -1px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 4px -1px 5px 0px rgba(0, 0, 0, 0.2);
  border-left: 1px solid $medium-color;
  z-index: 151;
  transition: all 0.3s ease-in-out;

  &-open {
    opacity: 1;
    visibility: initial;
  }
}

@media (max-width: 1100px) {
  .subcategories-card {
    display: none;
  }
}
